;; shadow-cljs configuration
{:source-paths
 ["src/"
  "test/"]

 :dependencies
 [[instaparse "1.4.12"]
  [reagent "1.2.0"]
  [com.github.pkpkpk/cljs-node-io "2.0.332"]]

 :dev-http {8090 "public"}
 :builds
 {:engine {:target :node-library
           :output-to "output.js"
           :exports {:parse bean.parser.parser/parse}}
  :trellis {:target :node-script
            :main bean.trellis/main
            :output-to "out/trellis.js"}
  :ui {:target :browser
       :output-dir "public/js"
       :asset-path "/js"
       :modules {:main {:entries [bean.ui.main]}}}
  :test {:target :node-test
         :output-to "tests.js"
         :ns-regexp "-test$"}}}
