:root {
    --sheet-background: #fffefc;
    --sheet-error: #b93333;
    --headings-background: #f2f2f1;
    --cell-background: white;
    --corner-background: #ddd;
    --code-background: #fff;
    --code-foreground: #111;
    --code-margin: #dddddd;
    --code-pending: #f0c2b0;
    --sheet-border: #dedbd7;
    --headings-border: #8a868440;
    --code-lines: #ccc;
    --btn-foreground: #666;
    --btn-background: #e9e9ed;
    --cell-selector: #777;
    --link-color: rgb(63, 129, 215);
    --cell-height: 30px;
    --cell-width: 110px;
    --cell-padding: 5px;
    --cell-border: 1px;
    --code-width: 300px;
    --code-thick-line-gap: 4;
    --headings-left-width: 40px;
    --controls-height: 60px;
    --sidebar-left-margin: 10px;
}

[data-theme='dark'] {
    --sheet-background: #073642;
    --corner-background: var(--headings-background);
    --sheet-error: #dc322f;
    --headings-background: #002b36;
    --cell-background: #073642;
    --code-background: #073642;
    --code-foreground: #93a1a1;
    --code-margin: #cb4b16;
    --code-pending: #73402c;
    --sheet-border: #002b36;
    --sheet-header-border: #002b36;
    --headings-border: #073642;
    --code-lines: #93a1a1;
    --btn-foreground: white;
    --btn-background: var(--sheet-background);
    --cell-selector: #666;
    --link-color: rgb(164, 183, 146);
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(/fonts/SpaceGrotesk.ttf);
}

body {
    margin: 0;
    background: var(--sheet-background);
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.8rem;
}

a {
    color: var(--link-color)
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--btn-foreground);
    font-size: 0.8rem;
}

/* TODO: Fix code margin z index */
.container {
    position: relative;
    display: grid;
    grid-template-columns: var(--code-width) auto;
    height: 100vh;
    width: 100vw;
}

.sheet-container {
    position: relative;
}

#grid-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

#cell-input {
    z-index: 0;
    background: var(--cell-background);
    outline: 0.5px solid var(--sheet-border);
    padding: var(--cell-padding);
    padding-top: 6px;
    font-family: "SpaceGrotesk";
    overflow: hidden;
    cursor: cell;
    box-sizing: border-box;
    outline: 2px solid var(--cell-selector);
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.sidebar::before {
    z-index: 4;
    position: absolute;
    content: '';
    left: var(--sidebar-left-margin);
    height: 100%;
    width: 1px;
    background: var(--code-margin);    
}

.logo-container {
    height: var(--controls-height);
    display: flex;
}

.bean-logo {
    height: 30px;
    margin: auto 0 auto calc(var(--sidebar-left-margin) + 6px);
}

.frame-icon {
    height: 0.8rem;
    margin: auto 5px auto 0;
}

.code-icon {
    height: 0.8rem;
    margin: auto 7px auto 2px;
}

.frames-header {
    top: 0;
    height: var(--cell-height);
    width: 100%;
    padding: 0px;
    display: flex;
    padding-left: calc(var(--sidebar-left-margin) + 6px);
    background-color: var(--headings-background);
    box-sizing: border-box;
    border-top: 1px solid var(--code-margin);
    border-bottom: 1px solid var(--code-margin);
}

.frames-list-items {
    background-image: linear-gradient(var(--code-lines) 0.7px, transparent 0.7px);
    background-position-y: var(--cell-height);
    background-size: 100% var(--cell-height);
    height: 120px;
    padding-left: calc(var(--sidebar-left-margin) + 6px);
    overflow-y: auto;
}

.frames-list-item {
    height: var(--cell-height);
    display: flex;
}

.frames-list-item a {
    cursor: pointer;
    border-bottom: 2px solid #eee;
    font-family: SpaceGrotesk, sans-serif;
    color: var(--btn-foreground);
    font-size: 0.9rem;
    margin: auto 0 auto 0;
}

.make-frame-form {
    margin: 2px 0 auto 0;
}

.frame-name-input {
    border: 1px solid #e9e9ed;
    padding: 4px;
}

.frame-name-input:active, .frame-name-input:focus {
    outline: none;
    /* border: 2px solid #3b5aa3; */
}

.code {
    z-index: 3;
    position: relative;
    background-color: var(--code-background);
    color: var(--code-foreground);
    background-image: linear-gradient(var(--code-lines) 0.7px, transparent 0.7px);
    background-position-y: var(--cell-height);
    background-size: 100% var(--cell-height);
    margin-top: -0.1px;
    height: 100vh;
}

.code-body {
    position: absolute;
    display: grid;
    grid-template-columns: var(--sidebar-left-margin) 1fr;
    top: 30px;
    width: 100%;
    height: calc(100% - 30px);
}

.code-text {
    background: none;
    color: var(--code-foreground);
    border: none;
    padding: 0 10px 0 10px;
    height: 100%;
    font-family: SpaceGrotesk;
    font-size: 0.9rem;
    line-height: 30px;
    outline: none;
    word-wrap: break-word;
    overflow-block: hidden;
    resize: none;
}

.code-thick-lines {
    height: calc(100% - 30px);
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(var(--code-lines) 0.9px, transparent 0.9px);
    background-size: 100% calc(var(--cell-height) * var(--code-thick-line-gap));
    left: 0;
    margin-top: -0.2px;
}

.code-state-pending {
    background-color: var(--code-pending) !important;
}

.code-header {
    top: 0;
    height: var(--cell-height);
    width: 100%;
    padding: 0px;
    display: flex;
    padding-left: calc(var(--sidebar-left-margin) + 6px);
    padding-right: 3px;
    background-color: var(--headings-background);
    box-sizing: border-box;
    border-top: 1px solid var(--code-margin);
}

.code-error {
    display: inline;
    font-family: monospace;
    font-size: 9px;
    line-height: var(--cell-height);
    color: var(--sheet-error);
    margin-left: 10px;
    overflow: hidden;
    /* This is quite useless, but cleaner than overflowing */
}

.code-header-btn {
    height: 24px;
    width: 28px;
    cursor: pointer;
    margin: auto 0px auto 0px;
    border: none;
    border-radius: 2px;
    color: var(--btn-foreground);
    background-color: var(--btn-background);
}

.small-btn {
    height: 24px;
    width: 28px;
    cursor: pointer;
    margin: auto 0px auto 0px;
    border: none;
    border-radius: 2px;
    color: var(--btn-foreground);
    background-color: var(--btn-background);
}

.code-header .dark-mode-btn {
    margin-left: auto;
}

.code-header .light-mode-btn {
    margin-left: auto;
    display: none;
    padding-bottom: 4px;
}

.code-header .help-btn {
    margin-left: 4px;
}

[data-theme='dark'] .light-mode-btn {
    display: block !important;
}

[data-theme='dark'] .dark-mode-btn {
    display: none;
}

[data-theme='light'] .dark-mode-btn {
    display: block !important;
}

.help-overlay {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0003;
}

.help-container {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 900px;
    box-shadow: 0px 1px 1px 0px rgba(122, 118, 118, 0.75);
    border-radius: 5px;
    font-family: SpaceGrotesk, sans-serif;
    background-color: var(--sheet-background);
}

.help-content {
    margin-top: 0;
    box-sizing: border-box;
    display: grid;
    align-content: center;
    padding: 20px;
    padding-bottom: 35px;
}

.help-container h1, h3, h4, h5, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.help-open {
    overflow: hidden;
}

.help-footer {
    height: 30px;
    border-radius: 0px 0px 5px 5px;
    background: var(--corner-background);
    box-sizing: border-box;
    display: grid;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
}

.footer-p {
    color: grey;
    font-size: 0.9rem;
}

.footer-github-link {
    margin: 5px;
    text-align: right;
    font-size: 0.9rem;
    text-decoration: none;
}

[data-theme='dark'] .help-light {
    display: none;
}

[data-theme='light'] .help-dark {
    display: none;
}

.controls-container {
    position: relative;
    display: flex;
    height: var(--controls-height);
    padding-left: calc(var(--headings-left-width) + 20px);
    border-left: 1px solid var(--code-margin);
}

.controls-container::before {
    z-index: 4;
    position: absolute;
    content: '';
    left: 33px;
    height: 100%;
    width: 1px;
    background: var(--code-margin);    
}

.controls-background-buttons {
    margin: auto 0px auto 0px;
    display: flex;
    vertical-align: middle;
}

.controls-demos {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.set-background-btn {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 100%;
    cursor: pointer;
}

.controls-btn {
    cursor: pointer;
    margin: auto 0px auto 0px;
    border: none;
    border-radius: 2px;
    color: var(--btn-foreground);
    padding: 0 10px 0 10px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.controls-btn:disabled {
    cursor: default;
    opacity: 0.6;
}

.controls-btn.pressed {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button:active {
    /* Change the inset shadow to give the effect of the button being pressed */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.popups {
    position: absolute;
    bottom: 40px;
    right: 10px;
}

.popup {
    background: var(--sheet-background);
    transition: transform 0.5s ease;
    box-shadow: 0px 1px 1px 0px rgba(122, 118, 118, 0.75);
    border-radius: 5px;
    font-family: SpaceGrotesk, sans-serif;
    background-color: var(--sheet-background);
    border: 1px solid #ccc;

    padding: 10px;
    width: 400px;
    min-height: 70px;
    margin: 10px;
    margin-right: 20px;
}

.loader-popup {
    display: flex;
}

details {
    color: var(--btn-foreground);
    white-space: pre-wrap;
    max-height: 350px;
    overflow-y: scroll;
}

summary {
    cursor: pointer;
}

.llm-loader {
    animation: rotate 2s linear infinite;
    display: inline-block;
    font-size: 48px;
    line-height: 48px;
    margin: auto;
    color: #999999;
    vertical-align: middle;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.label-suggestion {
    cursor: pointer;
}

.label-suggestion:hover {
    text-decoration: underline;
}
