:root {
    --sheet-background: #073642;
    --sheet-foreground: #93a1a1;
    --sheet-error: #dc322f;
    --sheet-label-background: #002b36;
    --sheet-label-foreground: #839496;
    --scratch-background: #073642;
    --scratch-foreground: #93a1a1;
    --scratch-sidebar: #cb4b16;
    --sheet-border: #002b36;
    --cell-height: 30px;
    --cell-width: 110px;
    --cell-padding: 5px;
    --cell-border: 1px;
    --label-left-width: 40px;
    --label-left-bottom-border: 0.1px;
    --scratch-width: 350px;
    --scratch-thick-line-gap: 4;
}

body {
    margin: 0;
    background: var(--sheet-background);
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: var(--scratch-width) auto;
    width: min-content;
}

.bean-sheet {
    display: grid;
    color: var(--sheet-foreground);
    font-family: monospace;
    font-size: 1.1em;
    user-select: none;
    position: relative;
}

.bean-cell {
    outline: 0.5px solid var(--sheet-border);
    padding: var(--cell-padding);
    overflow: hidden;
    cursor: cell;
    box-sizing: border-box;
}

.bean-label {
    background-color: var(--sheet-label-background);
    color: var(--sheet-label-foreground);
    padding: var(--cell-padding);
    box-sizing: border-box;
}

.bean-labels-top {
    position: sticky;
    top: 0;
    z-index: 1;
}

.bean-label-top {
    text-align: center;
    border-right: var(--cell-border) solid var(--sheet-background);
    border-bottom: var(--cell-border) solid var(--sheet-border);
    position: sticky;
    left: 0;
    padding: var(--cell-padding);
    height: var(--cell-height);
    pointer-events: hover;
}

.bean-label-left {
    width: var(--label-left-width);
    text-align: center;
    border-bottom: var(--cell-border) solid var(--sheet-background);
    border-right: var(--cell-border) solid var(--sheet-border);
    position: sticky;
    left: var(--scratch-width);
    z-index: 0;
    padding: var(--cell-padding);
}

.bean-corner {
    background-color: var(--sheet-label-background);
    color: #859900;
    width: var(--label-left-width);
    border-bottom: var(--cell-border) solid var(--sheet-background);
    border-right: var(--cell-border) solid var(--sheet-background);
    border-left: var(--cell-border) solid var(--sheet-background);
    position: sticky;
    z-index: 2;
    left: var(--scratch-width);
    padding: var(--cell-padding);
}

.bean-label-top:hover::after {
    content: "";
    height: var(--cell-height);
    width: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
    background: #00000033;
}

.bean-label-left:hover::after {
    content: "";
    width: var(--label-left-width);
    height: 8px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: ns-resize;
    background: #00000033;
}

#bean-resize-indicator-v {
    height: 100%;
    width: 1px;
    display: block;
    position: absolute;
    background: #00000055;
    top: 0;
    z-index: 100;
    display: none;
}

#bean-resize-indicator-h {
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    background: #00000055;
    top: 0;
    z-index: 100;
    display: none;
}

.cell-error:not(.edit-mode) {
    font-size: 9px;
    color: var(--sheet-error);
}

#cell-selector {
    position: absolute;
    top: -100px;
    left: 10px;
    width: var(--cell-width);
    height: var(--cell-height);
    border: 2px solid #666;
    transition: 100ms;
    pointer-events: none;
    display: none;
    box-sizing: border-box;
}

.scratch {
    background-color: var(--scratch-background);
    color: var(--scratch-foreground);
    background-image: linear-gradient(#eee8d5 0.7px, transparent 0.7px);
    background-size: 100% var(--cell-height);
    position: sticky;
    left: 0;
    z-index: 3;
    margin-top: -0.7px;
}

.scratch-body {
    display: grid;
    grid-template-columns: 30px 1fr;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
}

.scratch-text {
    background: none;
    color: var(--scratch-foreground);
    border: none;
    padding: 0 10px 0 10px;
    height: 100%;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 30px;
    outline: none;
    word-wrap: break-word;
    overflow-block: hidden;
    resize: none;
}

.scratch-thick-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(#4a759987 0.9px, transparent 0.9px);
    background-size: 100% calc(var(--cell-height) * var(--scratch-thick-line-gap));
    position: sticky;
    left: 0;
}

.scratch::before {
    position: absolute;
    content: '';
    left: 30px;
    height: 100%;
    width: 2px;
    background: 2px var(--scratch-sidebar);
}

.scratch-header {
    position: sticky;
    top: 0;
    height: var(--cell-height);
    width: 100%;
    padding: 0px;
}
