:root {
    --sheet-background: #fffefc;
    --sheet-foreground: #111;
    --sheet-error: #b93333;
    --sheet-label-background: #f2f2f1;
    --sheet-label-foreground: #666;
    --cell-background: white;
    --corner-background: #ddd;
    --scratch-background: #fff;
    --scratch-foreground: #111;
    --scratch-sidebar: rgba(255, 0, 0, 0.4);
    --scratch-pending: #f0c2b0;
    --sheet-border: #dedbd7;
    --label-border: #8a868440;
    --scratch-lines: #90b1ccaa;
    --btn-foreground: #666;
    --btn-background: #e9e9ed;
    --cell-selector: #666;
    --link-color: rgb(63, 129, 215);
    --cell-height: 30px;
    --cell-width: 110px;
    --cell-padding: 5px;
    --cell-border: 1px;
    --label-left-width: 40px;
    --label-left-bottom-border: 0.1px;
    --scratch-width: 350px;
    --scratch-thick-line-gap: 4;
}

[data-theme='dark'] {
    --sheet-background: #073642;
    --sheet-foreground: #93a1a1;
    --corner-background: var(--sheet-label-background);
    --sheet-error: #dc322f;
    --sheet-label-background: #002b36;
    --sheet-label-foreground: #839496;
    --cell-background: #073642;
    --scratch-background: #073642;
    --scratch-foreground: #93a1a1;
    --scratch-sidebar: #cb4b16;
    --scratch-pending: #73402c;
    --sheet-border: #002b36;
    --sheet-header-border: #002b36;
    --label-border: #073642;
    --scratch-lines: #93a1a1;
    --btn-foreground: white;
    --btn-background: var(--sheet-background);
    --cell-selector: #666;
    --link-color: rgb(164, 183, 146);
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(/fonts/SpaceGrotesk.ttf);
}

body {
    margin: 0;
    background: var(--sheet-background);
}

a {
    color: var(--link-color)
}

.sheet-container {
    position: relative;
    display: grid;
    grid-template-columns: var(--scratch-width) auto;
    width: min-content;
}

.bean-sheet {
    display: grid;
    color: var(--sheet-foreground);
    font-family: monospace;
    font-size: 1.1em;
    user-select: none;
    position: relative;
}

.bean-cell {
    background: var(--cell-background);
    outline: 0.5px solid var(--sheet-border);
    padding: var(--cell-padding);
    overflow: hidden;
    cursor: cell;
    box-sizing: border-box;
}

.bean-label {
    background-color: var(--sheet-label-background);
    color: var(--sheet-label-foreground);
    padding: var(--cell-padding);
    box-sizing: border-box;
    font-family: SpaceGrotesk;
    font-size: 0.8rem;
}

.bean-labels-top {
    z-index: 1;
    position: sticky;
    top: 0;
}

.bean-label-top {
    text-align: center;
    border-right: var(--cell-border) solid var(--label-border);
    border-bottom: var(--cell-border) solid var(--sheet-border);
    position: sticky;
    left: 0;
    padding: var(--cell-padding);
    height: var(--cell-height);
    pointer-events: hover;
}

.bean-label-left {
    z-index: 1;
    width: var(--label-left-width);
    text-align: center;
    border-bottom: 0.1px solid var(--label-border);
    border-right: var(--cell-border) solid var(--sheet-border);
    position: sticky;
    left: var(--scratch-width);
    padding: var(--cell-padding);
}

.bean-corner {
    z-index: 2;
    background-color: var(--corner-background);
    width: var(--label-left-width);
    border-bottom: var(--cell-border) solid var(--sheet-border);
    border-right: var(--cell-border) solid var(--sheet-border);
    border-left: var(--cell-border) solid var(--sheet-border);
    position: sticky;
    left: var(--scratch-width);
    padding: var(--cell-padding);
}

.bean-label-top:hover::after {
    content: "";
    height: var(--cell-height);
    width: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
    background: #00000033;
}

.bean-label-left:hover::after {
    content: "";
    width: var(--label-left-width);
    height: 8px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: ns-resize;
    background: #00000033;
}

#bean-resize-indicator-v {
    height: 100%;
    width: 1px;
    display: block;
    position: absolute;
    background: #00000055;
    top: 0;
    z-index: 100;
    display: none;
}

#bean-resize-indicator-h {
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    background: #00000055;
    top: 0;
    z-index: 100;
    display: none;
}

.cell-error:not(.edit-mode) {
    font-size: 9px;
    color: var(--sheet-error);
}

#cell-selector {
    position: absolute;
    top: -100px;
    left: 10px;
    width: var(--cell-width);
    height: var(--cell-height);
    border: 2px solid var(--cell-selector);
    transition: 100ms;
    pointer-events: none;
    display: none;
    box-sizing: border-box;
}

.scratch {
    background-color: var(--scratch-background);
    color: var(--scratch-foreground);
    background-image: linear-gradient(var(--scratch-lines) 0.7px, transparent 0.7px);
    background-size: 100% var(--cell-height);
    position: sticky;
    left: 0;
    z-index: 3;
    margin-top: -0.7px;
}

.scratch-body {
    display: grid;
    grid-template-columns: 30px 1fr;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
}

.scratch-text {
    background: none;
    color: var(--scratch-foreground);
    border: none;
    padding: 0 10px 0 10px;
    height: 100%;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 30px;
    outline: none;
    word-wrap: break-word;
    overflow-block: hidden;
    resize: none;
}

.scratch-thick-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(#4a759987 0.9px, transparent 0.9px);
    background-size: 100% calc(var(--cell-height) * var(--scratch-thick-line-gap));
    position: sticky;
    left: 0;
}

.scratch::before {
    position: absolute;
    content: '';
    left: 32px;
    height: 100%;
    width: 2px;
    background: 2px var(--scratch-sidebar);
}

.scratch-state-pending {
    background-color: var(--scratch-pending) !important;
}

.scratch-header {
    position: sticky;
    top: 0;
    height: var(--cell-height);
    width: 100%;
    padding: 0px;
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
}

.scratch-error {
    display: inline;
    font-family: monospace;
    font-size: 9px;
    line-height: var(--cell-height);
    color: var(--sheet-error);
    margin-left: 10px;
}

.scratch-header-btn {
    height: 24px;
    width: 28px;
    cursor: pointer;
    margin: auto 0px auto 0px;
    border: none;
    border-radius: 2px;
    color: var(--btn-foreground);
    background-color: var(--btn-background);
}

.small-btn {
    height: 24px;
    width: 28px;
    cursor: pointer;
    margin: auto 0px auto 0px;
    border: none;
    border-radius: 2px;
    color: var(--btn-foreground);
    background-color: var(--btn-background);
}

.scratch-header .dark-mode-btn {
    margin-left: auto;
}

.scratch-header .light-mode-btn {
    margin-left: auto;
    display: none;
    padding-bottom: 4px;
}

.scratch-header .help-btn {
    margin-left: 4px;
}

[data-theme='dark'] .light-mode-btn {
    display: block !important;
}

[data-theme='dark'] .dark-mode-btn {
    display: none;
}

[data-theme='light'] .dark-mode-btn {
    display: block !important;
}

.help-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: #0003;
}

.help-container {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 900px;
    box-shadow: 0px 1px 1px 0px rgba(122, 118, 118, 0.75);
    border-radius: 5px;
    font-family: SpaceGrotesk, sans-serif;
    background-color: var(--sheet-background);
}

.help-content {
    margin-top: 0;
    box-sizing: border-box;
    display: grid;
    align-content: center;
    padding: 20px;
    padding-bottom: 35px;
}

.help-container h1, h3, h4, h5, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.help-text-left {
    padding-right: 10px;
}

.help-text-right {
    padding-left: 10px;
    border-left: 1px solid var(--label-border);
}

.container.help-open {
    overflow: hidden;
}

.help-footer {
    height: 30px;
    border-radius: 0px 0px 5px 5px;
    background: var(--corner-background);
    box-sizing: border-box;
    display: grid;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
}

.footer-p {
    color: grey;
    font-size: 0.9rem;
}

.footer-github-link {
    margin: 5px;
    text-align: right;
    font-size: 0.9rem;
    text-decoration: none;
}

[data-theme='dark'] .help-light {
    display: none;
}

[data-theme='light'] .help-dark {
    display: none;
}
